{% extends 'base.html' %}
{% block title -%}
    <title>404 Not Found</title>
{%- endblock %}
<head>
</head>
{% block body %}
    <div class="ui container" style="position: relative; top: 3em;">
        <h1>404 Not Found</h1>
        {% if not request.headers.get('referer') %}
            <p>哇，你好像走丢了，来<a href="/">首页</a>看看？</p>
        {% else %}
            <p>哇，你好像走丢了，来<a href="/">首页</a>看看或者<a href="{{ request.headers.get('referer') }}">返回上页</a>？</p>
        {% endif %}
    </div>
{% endblock %}
