{% extends 'base.html' %}
{% block title -%}
    <title>KPaste</title>
{%- endblock %}
{% block js -%}
    <script src="https://cdn.bootcss.com/codemirror/5.38.0/codemirror.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.38.0/addon/selection/active-line.min.js"></script>
{%- endblock %}
{% block css -%}
    <link href="https://cdn.bootcss.com/codemirror/5.38.0/codemirror.min.css" rel="stylesheet">
{%- endblock css %}
<head>
</head>
{% block body %}
    <div class="ui container">
        <div></div>
        <h2 class="ui dividing header">KPaste</h2>
        <div class="ui error message" id="message" style="display: none;">
            <i class="close icon"></i>
            <span></span>
        </div>
        <form class="ui form" id="form" action="" method="post">
            {#            <!--第一行-->#}
            <div class="two fields">
                <div class="four wide field">
                    <label for="title">标题 </label>
                    <input class="ui input" id="title" type="text" name="title"
                           placeholder="起个标题吧" maxlength="20" value="{{ post.title }}"/>
                </div>

                <div class="four wide field">
                    <label for="author">作者</label>
                    <input class='ui input' id="author" type="text" name="author" placeholder="你的名字"
                                value="{{ post.author }}"/>
                </div>
            </div>

            <div class="field" id="code">
                <label for="rawcontent">代码</label>
                <textarea class="input" rows="15" id="rawcontent" name="rawcontent"
                          content="{{ post.rawcontent }}"></textarea>
                <div class="ui pointing red label" style="display: none;">
                    请写入内容
                </div>
            </div>

            <div class="field" id="remark">
                <label for="other">备注</label>
                <textarea class="input" rows="5" id="other" name="other"
                          placeholder="一些其他的东西" maxlength="40" content="{{ post.other }}"></textarea>
            </div>

            <div class="two fields">
                <div class="three wide field" id="lang">
                    <label for="lang_select">语言</label>
                    <select class="ui search dropdown" name="language_id" id="lang_select">
                        {%- for lang in languages -%}
                            <option value="{{ lang.id }}">{{ lang.name | title }}</option>
                        {%- endfor -%}
                    </select>
                </div>
                <div class="two wide field disabled" id="days">
                    <label for="days_select">有效期</label>
                    <select class="ui dropdown" name="validity_days" id="days_select">
                        {% for days, text in days_opt.items() -%}
                            <option value="{{ days }}">{{ text }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>
            {#            <!--第三行两个元素-->#}
            <button class="ui blue button submit">更新</button>
        </form>
    </div>
    <script>
        langReplace = {
            'c': 'text/x-csrc',
            'c++': 'text/x-csrc',
            'objectice-c': 'text/x-csrc',
            'java': 'text/x-csrc',
            'bash': 'shell',
            'html': 'htmlmixed'
        };

        $(document).ready(function () {

            // 初始化内容
            codeeditor = CodeMirror.fromTextArea(document.getElementById("rawcontent"), {
                lineNumbers: true,
                matchBrackets: true
            });
            $('#lang_select').dropdown('set selected', {{ post.language_id }});
            let other = $('#other');
            other.val(other.attr('content'));
            codeeditor.setValue($('#rawcontent').attr('content'));
            selected = $('#lang_select').dropdown('get text').toLowerCase();
            if (langReplace[selected]) {
                selected = langReplace[selected];
            }
            codeeditor.setOption('mode', selected);
            // 初始化内容

            // 绑定事件
            $('#form').submit(function (e) { e.preventDefault() });
            $('select.dropdown').dropdown();
            $('.popup').popup();
            $('#message .close').click(function () {
                $('#message').css('display', 'none')
            });
            // 绑定事件

            $('#lang').on('change', function () {
                selected = $('#lang_select').dropdown('get text').toLowerCase();
                if (langReplace[selected]) {
                    selected = langReplace[selected];
                }
                codeeditor.setOption('mode', selected);
            });

            $('.submit').on('click', function () {
                codeeditor.save();
                if (!input_check())
                    return;

                let submit = $('.submit');
                submit.addClass('disabled');
                form = $('#form');
                form.addClass('loading');

                let data = new FormData();
                serialize = form.serializeArray();
                for (let i = 0; i < serialize.length; i++) {
                    data.append(serialize[i].name, serialize[i].value)
                }

                let xhr = new XMLHttpRequest();
                xhr.open('PUT', '{{ url_for('api.post_with_id', post_id=post.id) }}');
                xhr.onreadystatechange = function (ev) {
                    if (xhr.readyState === 4) {
                        let o = JSON.parse(xhr.response);
                        if (xhr.status === 200) {
                            window.location.href = '{{ url_for('show', post_id=post.id) }}';
                        }
                        else {
                            if (o.error) {
                                show_error(o.error);
                                submit.removeClass('disabled');
                                form.removeClass('loading');
                            }
                        }
                    }
                };
                xhr.send(data);
            });

        });

        function input_check() {
            let form = $('#form');
            if ($.trim(form.find('#rawcontent').val()).length === 0) {
                $('#code .pointing').show('fast');
                return false
            }
            return true
        }

        function show_error(content) {
            message = $('#message');
            message.find('span').text(content);
            message.show();
        }
    </script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/addon/edit/matchbrackets.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/clike/clike.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/clojure/clojure.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/cmake/cmake.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/coffeescript/coffeescript.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/commonlisp/commonlisp.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/css/css.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/python/python.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/d/d.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/erlang/erlang.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/fortran/fortran.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/go/go.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/haml/haml.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/haskell/haskell.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/haxe/haxe.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/javascript/javascript.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/lua/lua.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/perl/perl.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/php/php.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/ruby/ruby.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/scheme/scheme.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/sql/sql.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/vb/vb.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/xml/xml.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/yaml/yaml.min.js"></script>
{%- endblock %}

