{% extends 'base.html' %}
{% block title -%}
    <title>KPaste</title>
{%- endblock %}
{% block js -%}
    <script src="https://cdn.bootcss.com/codemirror/5.38.0/codemirror.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.38.0/addon/selection/active-line.min.js"></script>
{%- endblock %}
{% block css -%}
    <link href="https://cdn.bootcss.com/codemirror/5.38.0/codemirror.min.css" rel="stylesheet">
{%- endblock css %}
<head>
</head>
{% block body %}
    <div class="ui container" style="position: relative; top: 3em;">
        <div class="ui dividing header"><a href="/">KPaste</a></div>
        <div class="ui error message" id="message" style="display: none;">
            <i class="close icon"></i>
            <span></span>
        </div>
        <form class="ui form" id="form" action="{{ url_for('api.post') }}" method="post">
            {#            <!--第一行-->#}
            <div class="two fields">
                <div class="four wide field">
                    <label for="title">标题 </label>
                    <input class="ui input" id="title" type="text" name="title" placeholder="起个标题吧" maxlength="20"/>
                </div>

                <div class="four wide field">
                    <label for="author">作者</label>
                    <input class='ui input' id="author" type="text" name="author" placeholder="你的名字"/>
                </div>
            </div>
            {#            <!--第一行-->#}
            <div class="four popup wide field" data-content="之后编辑或者删除的时候会用到">
                <label for="author">Key</label>
                <input class='ui input' id="key" type="text" name="access_key"
                       placeholder="设置Key"/>
            </div>

            {#            <!--两个大输入框-->#}
            <div class="field" id="code">
                <label for="rawcontent">代码</label>
                <textarea class="input" rows="15" id="rawcontent" name="rawcontent"></textarea>
                <div class="ui pointing red label" style="display: none;">
                    请写入内容
                </div>
            </div>

            <div class="field" id="remark">
                <label for="other">备注</label>
                <textarea class="input" rows="5" id="other" name="other"
                          placeholder="一些其他的东西" maxlength="40"></textarea>
            </div>
            {#            <!--两个大输入框-->#}
            {#            <!--第三行两个元素-->#}
            <div class="two fields">
                <div class="three wide field" id="lang">
                    <label for="lang_select">语言</label>
                    <select class="ui search dropdown" name="language_id" id="lang_select">
                        {%- for lang in languages -%}
                            <option value="{{ lang.id }}">{{ lang.name | title }}</option>
                        {%- endfor -%}
                    </select>
                </div>
                <div class="two wide field" id="days">
                    <label for="days_select">有效期</label>
                    <select class="ui dropdown" name="validity_days" id="days_select">
                        {% for days, text in days_opt.items() -%}
                            <option value="{{ days }}">{{ text }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>
            {#            <!--第三行两个元素-->#}
            <button class="ui blue button submit">提交</button>
        </form>
    </div>
    <script>
        var codeeditor = CodeMirror.fromTextArea(document.getElementById("rawcontent"), {
            lineNumbers: true,
            matchBrackets: true
        });

        $('#form').submit(function (e) {
            e.preventDefault()
        });

        $('select.dropdown').dropdown();
        $('.popup').popup();
        $('#message .close').click(function () {
            $('#message').css('display', 'none')
        });

        langReplace = {
            'c': 'text/x-csrc',
            'c++': 'text/x-csrc',
            'objectice-c': 'text/x-csrc',
            'java': 'text/x-csrc',
            'bash': 'shell',
            'html': 'htmlmixed'
        };
        $('#lang').on('change', function () {
            selected = $('#lang_select').dropdown('get text').toLowerCase();
            if (langReplace[selected]) {
                selected = langReplace[selected];
            }
            codeeditor.setOption('mode', selected);
        });

        $('.submit').on('click', function () {
            codeeditor.save();
            if (!input_check())
                return;

            let submit = $('.submit');
            submit.addClass('disabled');

            form = $('#form');
            form.addClass('loading');

            let data = new FormData(form[0]);

            let default_val = new Array();
            default_val['title'] = '无标题';
            default_val['author'] = '暂无';
            default_val['language_id'] = '11';
            default_val['validity_days'] = '3';
            for (let key in default_val) {
                if (!$.trim(data.get(key))) {
                    data.set(key, default_val[key])
                }
            }

            $.ajax({
                url: '/api/post/',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                complete: function (result) {
                    rjson = result.responseJSON;
                    if (rjson.success)
                        window.location.href = '/show/' + rjson.data.post_id;
                    else {
                        show_error('(#' + rjson.error.code + ')' + rjson.error.message);
                        submit.removeClass('disabled');
                        form.removeClass('loading');
                    }
                }
            });
        });

        function input_check() {
            let form = $('#form');
            if ($.trim(form.find('#rawcontent').val()).length === 0) {
                $('#code .pointing').show('fast');
                return false
            }
            return true
        }

        function show_error(content) {
            message = $('#message');
            message.find('span').text(content);
            message.show();
        }
    </script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/addon/edit/matchbrackets.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/clike/clike.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/clojure/clojure.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/cmake/cmake.min.js"></script>
    <script defer="defer"
            src="https://cdn.bootcss.com/codemirror/5.38.0/mode/coffeescript/coffeescript.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/commonlisp/commonlisp.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/css/css.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/python/python.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/d/d.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/erlang/erlang.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/fortran/fortran.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/go/go.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/haml/haml.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/haskell/haskell.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/haxe/haxe.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/javascript/javascript.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/lua/lua.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/perl/perl.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/php/php.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/ruby/ruby.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/scheme/scheme.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/sql/sql.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/vb/vb.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/xml/xml.min.js"></script>
    <script defer="defer" src="https://cdn.bootcss.com/codemirror/5.38.0/mode/yaml/yaml.min.js"></script>
{%- endblock %}
