{% extends 'base.html' %}
{% block title %}
    <title>KPaste</title>
{% endblock %}
<head>
</head>
{% block body %}
    <div class="ui container">
        <div></div>
        <h2 class="ui dividing header">KPaste</h2>
        <div class="ui error message" id="message" style="display: none;">
            <i class="close icon"></i>
            Visit our registration page, then try again
        </div>
        <form class="ui form" id="form" action="" method="post" >

            <!--第一行-->
            <div class="two fields">
                <div class="eightwide field">
                    <label for="title">Title </label>
                    <input class="ui input" id="title" type="text" name="title" placeholder="Untitled" maxlength="20"/>
                </div>

                <div class="eight wide field">
                    <label for="author">Paster</label>
                    <input class='ui input' id="author" type="text" name="author" placeholder="Pick"/>
                </div>
            </div>
            <!--第一行-->


            <!--两个大输入框-->
            <div class="field" id="code">
                <label for="rawcontent">Code</label>
                <textarea class="input" rows="15" id="rawcontent" name="rawcontent"
                          placeholder="Enter Your Code"></textarea>
                <div class="ui pointing red label" style="display: none;">
                    Please enter you code.
                </div>
            </div>

            <div class="field" id="remark">
                <label for="other">Other</label>
                <textarea class="input" rows="5" id="other" name="other" placeholder="Some Others"
                          maxlength="200"></textarea>
            </div>
            <!--两个大输入框-->

            <!--第二行两个元素-->
            <div class="two fields">
                <div class="three popup wide field" data-content="Select a program language" id="lang_field">
                    <label for="lang_select">Language</label>
                    <select class="ui search dropdown" name="language_id" id="lang_select">
                        {% for lang in languages %}
                            <option value="{{ lang.id }}">{{ lang.name | title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="two popup wide field" data-content="Will be saved for these days" id="days_field">
                    <label for="days_select">Validity Days</label>
                    <select class="ui dropdown" name="validity_days" id="days_select">
                        {% for days, name in days_opt.items() %}
                            <option value="{{ days }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!--第二行两个元素-->

            <button class="ui blue button submit">Submit</button>
        </form>

    </div>
{% endblock %}