{% extends 'base.html' %}
{% block css -%}
    <link rel="stylesheet" type="text/css" href="/static/css/code.css">
{%- endblock %}
{% block title -%}
    <title>{% if post.title %}{{ post.title }} | KPaste{% else %}无标题{% endif %}</title>
{%- endblock %}
{% block body -%}
    <div class="ui container" style="position: relative; top: 3em;">
        <div class="ui dividing header"><a href="/">KPaste</a></div>
        <div class="ui grid">
            <div class="ten wide column">
                <div class="ui blue segment">
                    <h3 class="ui header">内容</h3>
                    <p>{{ post.html | safe }}</p>
                </div>
            </div>
            <div class="six wide column">
                <table class="ui red celled table">
                    <thead>
                    <th class="four wide"></th>
                    <th class="ten wide"></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>标题</td>
                        <td>{{ post.title | title }}</td>
                    </tr>
                    <tr>
                        <td>作者</td>
                        <td>{{ post.author | title }}</td>
                    </tr>
                    <tr>
                        <td>语言</td>
                        <td>{{ post.language.name | title }}</td>
                    </tr>
                    <tr>
                        <td>发表时间</td>
                        <td>{{ post.datetime }}</td>
                    </tr>
                    <tr>
                        <td>有效期</td>
                        <td>{% if post.validity_days > 1 %}{{ post.validity_days }} Days {% else %}
                            {{ post.validity_days }} Day {% endif %}</td>
                    </tr>
                    </tbody>
                </table>
                <button class="ui button red" id="delete">删除</button>
                <button class="ui button green" id="edit">编辑</button>
                <div class="ui green segment"><h3 class="ui header">备注</h3>
                    <p> {{ post.other }} </p></div>
            </div>
        </div>
    </div>

    {#        access_modal#}
    <div class="ui mini modal" id="access_modal">
        <div class="ui header">验证</div>
        <div class="content">
            <p>这些操作需要验证你的key</p>
            <div class="ui input labeled">
                <input class="ui input" id="key" type="text">
            </div>
        </div>
        <div class="ui actions">
            <div class="ui cancel button">取消</div>
            <div class="ui green ok button" id="access_enter">确认</div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#delete').on('click', function () {
                function askDelete() {
                    let r = confirm('确认删除？');
                    if (r) {
                        $.ajax({
                            url: '{{ url_for('api.post_with_id', post_id=post.id) }}',
                            type: 'DELETE',
                            complete: function (result) {
                                rjson = result.responseJSON;
                                if (rjson.success) {
                                    alert('删除成功');
                                    document.location.href = '{{ url_for('new') }}';
                                }
                                else {
                                    alert(`(#${rjson.error.code}) ${rjson.error.message}`);
                                    return;
                                }
                            }
                        })
                    }
                }

                if (!isAuthorized())
                    authorize_popup(
                        askDelete,
                        function (rjson) {
                            alert('验证失败：' + rjson.error.message);
                        }
                    );
                else
                    askDelete();
            });

            $('#edit').on('click', function () {
                if (!isAuthorized())
                    authorize_popup(
                        function () {
                            document.location.href = '{{ url_for('edit', post_id=post.id) }}';
                        },
                        function (rjson) {
                            alert('验证失败：' + rjson.error.message);
                        }
                    );
                else {
                    document.location.href = '{{ url_for('edit', post_id=post.id) }}';
                }
            })
        });

        AUTHORIZED = false;

        function isAuthorized() {
            post_id = $('#post_id').text();
            $.ajax({
                url: '{{ url_for('api.authorized', post_id=post.id) }}',
                type: 'POST',
                async: false,
                error: function (a, b) {
                },
                complete: function (result) {
                    rjson = result.responseJSON;
                    if (rjson.success)
                        AUTHORIZED = (rjson.data.authorized === true);
                }
            });
            return AUTHORIZED;
        };

        function authorize(post_id, key, success, fail) {
            post_id = post_id.toString();
            $.ajax({
                url: '{{ url_for('api.authorize') }}',
                data: {access_key: key, post_id: post_id},
                type: 'POST',
                complete: function (result) {
                    rjson = result.responseJSON;
                    if (rjson.success)
                        AUTHORIZED = rjson.data.authorized;

                    if (AUTHORIZED)
                        success(rjson);
                    else
                        fail(rjson);
                }
            })
        };

        function authorize_popup(success, fail) {
            $('#access_modal').modal('show');

            $('#access_enter').unbind('click');
            $('#access_enter').one('click', function () {
                key = $('#key').val();
                post_id = $('#post_id').text();
                authorize(post_id, key, success, fail);
            });
        }
    </script>
{% endblock body %}
