{% extends 'base.html' %}
{% if not PostAndLang %}
    <title>
        404 | KPaste
    </title>
    ERROR 404: Paste Not Found!
{% else %}
    {% block css %} <link rel="stylesheet" type="text/css" href="/static/css/code.css"> {% endblock %}
    {% block js %} <script src="/static/js/show.js"></script> {% endblock %}
    {% block title %}
        <title>{% if PostAndLang.Post.title %}{{ PostAndLang.Post.title }} | KPaste{% else %}Untitled{% endif %}</title>
    {% endblock %}
    {% block body %}
        <p style="display: none" id="post_id">{{ PostAndLang.Post.id }}</p>
        <div class="ui container" style="position: relative; top: 3em;">
            <div class="ui header">KPaste</div>
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="ui blue segment">
                        <h3 class="ui header">Code</h3>
                        <p>{{ PostAndLang.Post.html|safe }}</p>
                    </div>
                </div>
                <div class="six wide column">
                    <table class="ui red celled table">
                        <thead>
                        <th class="four wide"></th>
                        <th class="ten wide"></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Title:</td>
                            <td>{{ PostAndLang.Post.title | title }}</td>
                        </tr>
                        <tr>
                            <td>Paster:</td>
                            <td>{{ PostAndLang.Post.author | title }}</td>
                        </tr>
                        <tr>
                            <td>Language:</td>
                            <td>{{ PostAndLang.Language.name | title }}</td>
                        </tr>
                        <tr>
                            <td>Paste Time:</td>
                            <td>{{ PostAndLang.Post.datetime }}</td>
                        </tr>
                        <tr>
                            <td>Validity Days:</td>
                            <td>{% if PostAndLang.Post.validity_days > 1 %}{{ PostAndLang.Post.validity_days }}
                                Days {% else %} {{ PostAndLang.Post.validity_days }} Day {% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="ui button red" id="delete">Delete</button>
                    <button class="ui button green" id="edit">Edit</button>

                    <div class="ui green segment">
                        <h3 class="ui header">Remark</h3>
                        <p>
                            {{ PostAndLang.Post.other }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

{#        access_modal#}
        <div class="ui mini modal" id="access_modal">
            <div class="ui header">Require access key</div>
            <div class="content">
                <p>Delete operation requires correct access key</p>
                <div class="ui input labeled">
                    <input class="ui input" id="key" type="text">
                </div>
            </div>
            <div class="ui actions">
                <div class="ui cancel button">Cancel</div>
                <div class="ui green ok button" id="del_enter">Enter</div>
            </div>
        </div>
    {% endblock %}
{% endif %}